*{
    margin: 0;
    padding: 0;
}
header{
    background-image: url(imagenes/img2.jpg);
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 85px;
    position: absolute;
    top: 290px;
    right: 300px;
}
h1{
    font-size: 50px;
}
h2{
    text-align: center;
    border: solid;
    border: 2px solid black;
    padding: 10px;
    font-size: 30px;
}
nav{
    width: 30vw;
    float: left;
   
}
nav a{
    display: block;
    margin: 40px 30px 60px 30px;
  
}
main{
    margin-top: 30px;
    width: 60vw;
  
}
main p{
    display: block;
    margin: 0px;
  
}
.texto{
    margin-left: 430px;
    margin-bottom: 10px;
}
.imagen{
    display: none;
}
.imagen2{
    display: none;
}
a{
    color: #122D5E;
    text-decoration: none;
}
a:hover{
    color: #037949;
}
