*{
    margin: 0;
    padding: 0;
    /* #111D5E azul*/
    /* #a3ff15 verde claro */
    /* #033949 azul verdoso */
}
/* fondo */
header{
    background-image: url(imagenes/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    background-position: center;
}
h1{
    position: absolute;
    margin-top: 18%;
    padding-left: 1%;
    font-size: 40px;
    font-family: 'Notable', sans-serif;
}
.logo{
    display: none;
}
/* botones */
.botones{
    position: absolute;
    top: 0;
    background-color: white;
    width: 100%;
    font-family: 'Poiret One', cursive;
    padding: 2%;
}
.botones a{
    text-align: center;
    padding: 13%;
    text-decoration: none;
    color: #033949;
}
.botones a:hover{
    color: #a3ff15;
}
/* texto */
h2{
    text-align: center;
    border: double black;
    font-family: 'Poiret One', cursive, #033949;
    padding: 10px;
}
main p{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    margin: 2% 25%;
    width: 50%
}
/* contact */
main a{
    color: #033949;
    text-decoration: none;
}
main a:hover{
	color: #a3ff15;
}
/* botones inferiores */
.botones-abajo{
    font-family: 'Poiret One', cursive;
    margin: 1% 34%;
}
.botones-abajo a{
    text-decoration: none;
    display: block;
    border: solid #033949;
    color: #033949;
    background-color: white;
    padding: 2%;
    text-align: center;
    padding: 5%;
    margin-bottom: 1vh;
}
.botones-abajo a:hover{
    color: white;
    background-color: #033949
}
/* galeria */
.container{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-gap: 10px;
    justify-content: center;
    margin-top: 5%;
}
.container img{
    border-radius: 5px;
    width: 100%;  
    height: 100%;
    cursor: pointer;
}
.container img:hover{
    transform: scale(1.5);
}
.container img:nth-child(2){
    grid-row: 2;
    grid-column: 2 / span 2;
}
/* tablas */
.tabla{
    color: #033949;
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    border-collapse: collapse;
}
.algo{
    border: none;
}
table a{
    text-decoration: none;
    color: #033949;
}
table a:hover{
    color: #a3ff15;
}
td{
    padding: 10px;
    border: solid 1px black;
    text-align: center;
}
.mtitulo{
    font-family: 'Poiret One', cursive;
    padding: 20px;
    background-color: #033949;
    color: white;
}
.tabla2{
    padding: 30px;
    border: double #033949;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
}
.texto{
    text-align: center;
}
.contact{
    padding: 10px;
    border: dotted;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: auto;
    margin-left: auto;
}
/* reglas */
ol{
    margin: 3% 17%;
}
li{
    margin: 3% 10%;
}
.textr{text-align: center;}
/* formulario */
form{
    font-size: 20px;
    margin-bottom: 3%;
    margin-top: 3%;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}
fieldset{
    border: double;
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}
p{
    margin: 20px;
}
label{
    display: inline-block;
    margin: 20px;
}
input{
    border: none;
    border-bottom: solid black 0.5px;
}
input:focus{
    outline: none;
}
input[type="submit"]{
    font-size: 20px;
    width: 100%;
    margin: 2px;
    border: 2px solid #033949;
    padding: 15px;
    background-color: white;
    font-family: 'Poiret One', cursive;
}
input[type="submit"]:hover{
    background-color: #033949;
    color: white;
    font-family: 'Poiret One', cursive;
}
select{
    background-color: #033949;
    color: white;
    padding: 5px;
    width: 200px;
    height: 30px;
    border: none;
    box-shadow: 0 5px 5px #033949;
}